/* #CD5C5C - Light red */
/* #181818 - Lighter Black */
/* #707070 - Grey for head splitter */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}

/* navigation bar */
.navigation {
    position: fixed;
    background-color: #181818;
    /* head splitter line*/
    border-bottom: 1px solid #707070;
    width: 100%;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 1rem 0 1rem;
    color: white;
}

/* navigation bar buttons */
.menu {
    display: flex;
    margin: 0 0 0 0;
    text-decoration: none;
    text-color: #000;
    padding: 1.5rem;
}
/* navigation bar button text */
nav a {
    text-decoration: none;
    color: #000;
    padding: 0.2rem;
}

/* navigation bar buttons */
button {
    padding: 0.4rem 0.7rem;
    font-size: 0.7rem;
    border: none;
    color: white;
    background: #CD5C5C;
    cursor: pointer;
    border-radius: 1rem;
}

/* menu */
.menu {
    position: absolute;
    right: 0;
}

.menu a{
    margin-left: 0.5rem;
}

body {
    background: #181818;
}

/* search bar */
.searchbar_container {
    padding: 2rem;

}

/* homepage search bar asthetics*/
.searchbar {
    display: flex;
    align: center;
    background: #CD5C5C;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 35rem;
    margin-top: 5rem;
}

/* homepage filters */
.filters {
    display: flex;
    align: center;
}

.filters button {
}

input {
    display: flex;
    text-align: center;
    margin: 0 0.5rem 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #CD5C5C;
    color: white;
}
/* text inside homepage search bar*/
::placeholder {
    color: white;
    display: flex;
    text-align: center;
}

/* homepage search bar results */
.searchresults td {
    color: white;
}

/* profile page */
.profile.td {
    color: white;
}

.login {
    width: 100%;
    display: flex;
    align: center;
    background: #CD5C5C;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 35rem;
    margin-top: 5rem;
}

.signup {
    width: 100%;
    display: flex;
    align: center;
    background: #CD5C5C;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    width: 35rem;
    margin-top: 5rem;
}