* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
/* navigation bar */
nav {
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 1rem 0 1rem;
    color: white;
}
/* navigation bar buttons */
.menu {
    display: flex;
    margin: 0 0 0 0;
    text-decoration: none;
    text-color: #000;
    padding: 1.5rem;
}
/* navigation bar button text */
nav a {
    text-decoration: none;
    color: #000;
    padding: 0.2rem;
}
/* navigation bar buttons */
button {
    padding: 0.4rem 0.7rem;
    font-size: 0.7rem;
    border: none;
    color: white;
    background: #CD5C5C;
    cursor: pointer;
    border-radius: 1rem;
}

body {
    background: #181818;
}

.login_signup {
    color: white;
}